.barra{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid black; 

}
.barra > a{
    text-decoration: none;
    padding: 10px;
}
.cuerpo{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid black; 
}
.pie{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid black; 
}
.cuerpo > article > p{
    margin: 20px;
    border: 1px solid black; 
}
.cuerpo > article{
    gap: 200px;
    border: black solid 1px;
}