body{
    height: 1000px;
}
.nav-bar{
    position: fixed;
    width: 600px;
    background-color: wheat;
    justify-self: center;
}

.b-box{
    border: 1px solid black;
}
.f-box{
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
}